footer {
    background-color: #2B2929;
    color: white;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-right {
    display: flex;
    gap: 20px;
}

.footer-right a{
    text-decoration: none;
    color: white;
}